.detail-product-container {
    font-family: "Public Sans", serif;
    min-height : 100vh;
    background : linear-gradient(to bottom right, #76ec76, #f7eede);

    .detail-product-content {
        display: flex;

        &.wide {
            max-width: 1200px;
            margin   : 0 auto;
        }

        .detail-product-card {
            width           : 100%;
            display         : flex;
            border-radius   : 10px;
            margin-top      : 90px;
            background-color: white;

            .content-left {
                width         : 50%;
                padding       : 10px;
                display       : flex;
                flex-direction: column;

                .title-product {
                    padding-bottom: 10px;
                    font-size     : 25px;
                    font-weight   : 800;
                    color         : rgb(16, 93, 21);
                }

                .boder-image {
                    height : 50vh;
                    width  : 100%;
                    display: flex;

                    .image-product {
                        border-radius  : 10px;
                        height         : 100%;
                        width          : 100%;
                        background     : center center no-repeat;
                        background-size: cover;
                    }
                }

            }

            .content-right {
                width         : 50%;
                margin-top    : 40px;
                padding       : 10px 30px;
                display       : flex;
                flex-direction: column;

                .name-production {
                    font-size    : 2em;
                    font-weight  : 800;
                    margin-bottom: 20px;
                    color        : rgb(88, 47, 2);
                    font-family  : "Pacifico", sans-serif;
                }

                .description-content {
                    box-shadow   : 0 2px 5px rgba(7, 210, 7, 0.9);
                    border-radius: 10px;
                    padding      : 10px;
                    border       : 1px solid #ddd;
                    font-size    : 16px;
                    color        : rgb(16, 93, 21);

                    p {
                        margin-bottom: 5px;
                    }
                }

                .product-price {
                    color     : rgb(0, 75, 17);
                    margin-top: 20px;
                    font-size : 20px;

                    .currency {
                        font-weight: 800;
                    }
                }


                .btn-give-contact {
                    margin-top: 30px;
                    text-align: center;

                    button {
                        background: linear-gradient(to bottom right, #3fd73c, #05d87d);
                        ;
                        color         : white;
                        font-size     : 16px;
                        font-weight   : bold;
                        padding       : 10px 25px;
                        border        : none;
                        border-radius : 8px;
                        text-transform: uppercase;
                        box-shadow    : 0 8px #097236;
                        /* Tạo bóng 3D */
                        transition    : all 0.2s ease;

                        &:hover {
                            box-shadow: 0 6px #1c7430;
                            /* Giảm bóng khi hover */
                            transform : translateY(2px);
                            /* Di chuyển nhẹ xuống */
                        }

                        &:active {
                            box-shadow: 0 3px #145622;
                            /* Bóng ngắn hơn khi click */
                            transform : translateY(5px);
                            /* Di chuyển xuống rõ rệt */
                        }
                    }
                }

            }
        }



    }
}