.slick-prev {
    left         : -30px !important;
    z-index      : 10;
    height       : 45px !important;
    width        : 60px !important;
    background   : rgba(188, 192, 195, 0.882) !important;
    border       : 3px solid rgb(92, 62, 6) !important;
    border-radius: 10px;

    &:hover {
        background: rgba(11, 212, 152, 0.877) !important;
    }
}

.slick-prev:before {
    display          : inline-block !important;
    background-image : url('../../assets/images/capybara.png') !important;
    /* Đường dẫn đến hình ảnh */
    background-size  : cover !important;
    background-repeat: no-repeat !important;
    color            : transparent !important;
}

.slick-next {
    right        : -20px !important;
    z-index      : 10;
    height       : 45px !important;
    width        : 60px !important;
    //background: rgba(40, 127, 185, 0.767) !important;
    border       : 3px solid rgb(92, 62, 6) !important;
    border-radius: 10px;

    &:hover {
        background: rgba(31, 174, 6, 0.877) !important;
    }
}

.slick-next:before {
    //content: '' !important;
    display          : inline-block !important;
    background-image : url('../../assets/images/capybara.png') !important;
    /* Đường dẫn đến hình ảnh */
    background-size  : cover !important;
    background-repeat: no-repeat !important;
    color            : transparent !important;
}

.slick-disabled {
    display: none !important;
}

@keyframes fallLeaves {
    0% {
        transform: translateY(-100px) rotate(0deg);
        opacity  : 1;
    }

    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity  : 0;
    }
}

.all-page {
    background: linear-gradient(88deg,
            #1a6541 0%,
            #43dfb0 50%,
            #1a6541 100%);
}

.leaf {
    position                 : absolute;
    background-image         : url('../../assets/images/hoamai.png');
    background-size          : contain;
    width                    : 30px;
    height                   : 30px;
    opacity                  : 0.8;
    animation                : fallLeaves 5s linear infinite;
    animation-timing-function: ease-in;
}

.falling-leaves {
    position      : absolute;
    top           : -35px;
    left          : 0;
    width         : 100%;
    height        : 100%;
    pointer-events: none;
    z-index       : 1000;
    overflow      : hidden;

    .leaf:nth-child(1) {
        left              : 10%;
        animation-duration: 6s;
        animation-delay   : 2s;
    }

    .leaf:nth-child(2) {
        left              : 30%;
        animation-duration: 7s;
        animation-delay   : 1s;
    }

    .leaf:nth-child(3) {
        left              : 50%;
        animation-duration: 5s;
        animation-delay   : 3s;
    }

    .leaf:nth-child(4) {
        left              : 70%;
        animation-duration: 6.5s;
        animation-delay   : 0.5s;
    }

    .leaf:nth-child(5) {
        left              : 90%;
        animation-duration: 5s;
        animation-delay   : 4s;
    }

    .leaf:nth-child(6) {
        left              : 20%;
        animation-duration: 8s;
        animation-delay   : 2.5s;
    }

    // Thêm nhiều chiếc lá nếu muốn
}

.section-share {
    .section-body {
        font-family: "Public Sans", serif;

        .section-custome {
            .bg-image {
                margin-top         : 20px;
                border-radius      : 15px !important;
                height             : 200px;
                width              : 320px;
                background-repeat  : no-repeat !important;
                background-color   : white;
                background-size    : cover !important;
                background-position: center center !important;

                &.section-doctor {
                    width        : 120px;
                    height       : 120px;
                    border-radius: 50% !important;
                }

            }
        }
    }
}

.section-share {
    .section-container {
        display       : flex;
        flex-direction: column;

        .section-header {
            padding-top: 90px;
            z-index    : 2;
            color      : white;

            .title-section {
                font-size  : 30px;
                font-weight: 600;
            }
        }

    }

}

.home-footer {
    padding-top  : 15px;
    margin-bottom: -20px;
    text-align   : center;

    a {
        text-decoration: none;
    }

}

.section-about {
    height : 550px;
    padding: 0 100px;

    .section-about-header {
        padding    : 20px 0;
        font-size  : 25px;
        font-weight: bold;
    }

    .section-about-content {
        display: flex;
        gap    : 15px;
        width  : 100%;

        .content-left {
            width: 60%;
        }

        .content-right {
            width        : 40%;
            font-size    : 16px;
            font-style   : italic;
            height       : 460px;
            overflow     : hidden;
            text-overflow: ellipsis;
        }
    }
}