@keyframes floating {
    0% {
        transform: translateY(0);
        /* Vị trí ban đầu */
    }

    50% {
        transform: translateY(-10px);
        /* Di chuyển lên trên */
    }

    100% {
        transform: translateY(0);
        /* Trở về vị trí ban đầu */
    }
}

@keyframes pop-up {
    0% {
        transform: scaleX(0);
        opacity  : 0;
    }

    50% {
        transform: scaleX(1.5);
        opacity  : 1;
    }

    100% {
        transform: scaleX(1);
        opacity  : 1;
    }
}

@keyframes effect {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity       : 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.home-header-container {
    width   : 100%;
    height  : 60px;
    display : flex;
    position: fixed;
    z-index : 11;
    top     : 0;
    left    : 0;
    background: linear-gradient(88deg,
            #06331d 0%,
            #056f4f 50%,
            #02311a 100%);

    .left-content {
        width          : 20%;
        display        : flex;
        justify-content: center;

        img {
            width     : 60%;
            transition: filter 0.2s ease, transform 0.2s ease;
            cursor    : pointer;
            filter    : drop-shadow(2px 2px 2px #062a18);

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .content-center {
        width          : 60%;
        display        : flex;
        justify-content: space-evenly;
        align-items    : center;

        .nav-item {
            flex-direction : column;
            justify-content: center;
            display        : flex;
            height         : 100%;
            gap            : 3px;

            .item-text {
                font-size       : 1.3em;
                font-weight     : 600;
                color           : #ffffff;
                border          : none;
                outline         : none;
                background-color: transparent;

                &:hover {
                    transform: scale(1.1);
                    text-shadow:
                        0 0 5px rgba(0, 255, 128, 0.9),
                        0 0 10px rgba(0, 255, 128, 0.8),
                        0 0 15px rgba(0, 255, 128, 0.7),
                        0 0 20px rgba(0, 255, 128, 0.6),
                        0 0 30px rgba(0, 255, 128, 0.5),
                        0 0 40px rgba(0, 255, 128, 0.4),
                }
            }

            .item-line {
                width           : 30px;
                height          : 3px;
                background-color: #ffffff;
                border-radius   : 15px;
                align-self      : center;
                animation       : pop-up 0.6s cubic-bezier(0.23, 1, 0.32, 1);
            }
        }


    }

    .right-content {
        flex           : 1;
        display        : flex;
        align-items    : center;
        justify-content: space-evenly;

        .button {
            width        : 50%;
            position     : relative;
            overflow     : hidden;
            height       : 3em;
            padding      : 0 2em;
            border-radius: 10px;
            background   : #ffffff;
            color        : #013225;
            border       : none;
            cursor       : pointer;
            font-weight  : 600;
            font-family  : "Lexend", sans-serif;

            &::before {
                content         : "";
                position        : absolute;
                top             : 0;
                left            : 0;
                transform       : scale(0); // Dùng scale thay vì scaleX
                transform-origin: bottom left; // Điểm gốc sẽ là góc dưới bên trái
                width           : 100%;
                height          : 200%;
                border-radius   : 0 50px 0 0;
                background      : linear-gradient(82.3deg,
                        rgb(97, 233, 206) 10.8%,
                        rgb(0, 143, 12) 94.3%);
                transition: all 0.475s;
            }

            &:hover {

                &::before {
                    transform: scale(1);
                }
            }
        }

        .button-content {
            position: relative;
            z-index : 1;
        }



        .change-language {
            .language-vi {
                margin : 0 10px;
                cursor : pointer;
                opacity: 0.5;
                color  : white;

                &.active {
                    opacity    : 1;
                    font-weight: 600;
                    text-shadow:
                        0 0 5px rgba(0, 255, 128, 0.9),
                        /* Ánh sáng mờ xung quanh chữ */
                        0 0 10px rgba(0, 255, 128, 0.8),
                        0 0 15px rgba(0, 255, 128, 0.7),
                        0 0 20px rgba(0, 255, 128, 0.6),
                        0 0 30px rgba(0, 255, 128, 0.5),
                        /* Ánh sáng xa hơn, mờ dần */
                        0 0 40px rgba(0, 255, 128, 0.4),
                }

                &:hover {
                    opacity: 0.9;
                }
            }

            .language-en {
                margin : 0 10px;
                cursor : pointer;
                opacity: 0.5;
                color  : white;

                &.active {
                    opacity    : 1;
                    font-weight: 600;
                    text-shadow:
                        0 0 5px rgba(0, 255, 128, 0.9),
                        /* Ánh sáng mờ xung quanh chữ */
                        0 0 10px rgba(0, 255, 128, 0.8),
                        0 0 15px rgba(0, 255, 128, 0.7),
                        0 0 20px rgba(0, 255, 128, 0.6),
                        0 0 30px rgba(0, 255, 128, 0.5),
                        /* Ánh sáng xa hơn, mờ dần */
                        0 0 40px rgba(0, 255, 128, 0.4),
                        0 0 50px rgba(0, 255, 128, 0.3);
                }

                &:hover {
                    opacity: 0.9;
                }
            }
        }


    }
}

.hero-page-container {
    height  : 100vh;
    position: relative;

    .grid {
        width  : 100%;
        display: block;
        padding: 0;

        &.wide {
            height   : 100%;
            max-width: 1200px;
            margin   : 0 auto;
        }

        //row
        .main-hero-content {
            flex-wrap: wrap;
            height   : 100%;
            display  : flex;

            //col
            .hero-content-left {
                padding-left  : 12px;
                padding-right : 12px;
                height        : 100%;
                width         : 50%;
                z-index       : 2;
                display       : flex;
                flex-direction: column;
                gap           : 10px;

                .logo {
                    display    : flex;
                    margin-top : 60px;
                    width      : 100%;
                    height     : 60%;
                    font-family: "Calistoga", serif;
                    position   : relative;

                    .chau {
                        position           : absolute;
                        font-size          : 7em;
                        font-weight        : 400;
                        right              : 290px;
                        color              : #042502;
                        bottom             : 231px;
                        -webkit-text-stroke: 2px rgb(202, 255, 207);
                        text-shadow        : 6px 6px 10px rgba(114, 244, 88, 0.9);
                    }

                    .sadec {
                        position           : absolute;
                        font-size          : 8em;
                        font-weight        : 400;
                        bottom             : 155px;
                        right              : 180px;
                        color              : #86ae00;
                        font-weight        : 500;
                        -webkit-text-stroke: 2px rgb(255, 254, 188);
                    }

                    .tracking {
                        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000);
                    }

                    span {
                        color           : rgb(2, 49, 2);
                        position        : absolute;
                        width           : 20em;
                        font-size       : 1.3em;
                        text-align      : justify;
                        right           : 180px;
                        bottom          : 70px;
                        background-color: rgba(255, 255, 255, 0.662);
                        border-radius   : 5px;
                        padding         : 5px;
                        font-family     : "Lexend", serif;
                    }

                    .btn-contact {
                        display        : inline-flex;
                        position       : absolute;
                        width          : 15em;
                        height         : 2.8em;
                        font-size      : 18px;
                        justify-content: center;
                        align-items    : center;
                        bottom         : 0;
                        border-radius  : 25px;
                        right          : 225px;
                        font-weight    : 600;
                        font-family    : "Lexend", serif;
                        transition     : all 0.2s ease;
                        outline        : none;
                        border         : none;
                        overflow       : hidden;
                        color          : rgb(0, 0, 0);

                        &:hover {
                            transform : scale(1.05);
                            background: rgb(193, 228, 248);
                            color     : rgb(33, 0, 85);

                            div {
                                width : 16rem;
                                height: 16rem;
                            }
                        }

                        .hoverEffect {
                            position       : absolute;
                            bottom         : 0;
                            top            : 0;
                            left           : 0;
                            right          : 0;
                            display        : flex;
                            align-items    : center;
                            justify-content: center;
                            z-index        : 1;

                            div {
                                width     : 20rem;
                                height    : 20rem;
                                background: rgb(222, 0, 75);
                                background: linear-gradient(90deg,
                                        #08ec9a 0%,
                                        #34ca1e 50%,
                                        #6691a8 100%);
                                border-radius: 40rem;
                                transition   : 0.4s;
                                filter       : blur(10px);
                                animation    : effect infinite 3s linear;
                                opacity      : 0.5;
                            }
                        }
                    }
                }
            }

            .hero-content-right {
                height       : 100%;
                width        : 50%;
                z-index      : 2;
                padding-left : 12px;
                padding-right: 12px;
                padding-top  : 60px;

                .image-icon-outter {
                    height     : 100%;
                    width      : 100%;
                    perspective: 1000px;

                    .image-icon {
                        background-image : url('../../assets/heropage/tree.png');
                        height           : 100%;
                        width            : 100%;
                        background-repeat: no-repeat;
                        background-size  : contain;
                        transition       : transform 0.5s ease, box-shadow 0.3s ease;
                        animation        : floating 2s ease-in-out infinite;
                    }
                }
            }
        }
    }

    .water-effect {
        position         : absolute;
        background-repeat: no-repeat;
        background-image : url('../../assets/images/waterfall.png');
        height           : 100vh;
        width            : 100%;
        background-size  : contain;
        top              : 100px;
    }

}

//////// Hero Page ////////

// PC low resolution
@media (min-width: 1024px) and (max-width: 1239px) {
    .hero-page-container {
        .grid {

            &.wide {
                width: 984px;
            }

            .main-hero-content {
                .hero-content-left {
                    .logo {
                        margin-top: 35px;
                        height    : 60%;

                        .chau {
                            font-size: 5em;
                            right    : 200px;
                            bottom   : 231px;
                        }

                        .sadec {
                            font-size: 6em;
                            bottom   : 155px;
                            right    : 110px;
                        }

                        span {
                            width    : 16em;
                            font-size: 1.2em;
                            right    : 110px;
                            bottom   : 40px;
                        }

                        .btn-contact {
                            width        : 12em;
                            bottom       : -20px;
                            border-radius: 25px;
                            right        : 135px;
                        }
                    }
                }
            }
        }

        .fish-effect {
            height   : 180px;
            width    : 160px;
            transform: rotate(90deg);
        }

        .water-effect {
            height: 100%;
            width : 100%;
            top   : 80px;
        }

    }
}

// Tablet
@media (min-width: 740px) and (max-width: 1023px) {
    .hero-page-container {
        .grid {
            &.wide {
                width: 644px;
            }

            .main-hero-content {

                .hero-content-left {
                    width: 70%;

                    .logo {
                        margin-top: 15px;

                        .chau {
                            font-size: 7em;
                            right    : 110px;
                            bottom   : 231;
                        }

                        .sadec {
                            font-size: 8em;
                            bottom   : 155px;
                            right    : 0;
                        }

                        span {
                            color           : #042502;
                            width           : 18em;
                            font-size       : 1.2em;
                            right           : 55px;
                            bottom          : 45px;
                            background-color: rgba(255, 248, 236, 0.712);
                            border-radius   : 5px;
                            padding         : 5px;
                            box-sizing      : border-box;
                        }

                        .btn-contact {
                            width : 12em;
                            bottom: -20px;
                            right : 100px;

                        }
                    }
                }

                .hero-content-right {
                    position   : absolute;
                    height     : 100%;
                    width      : 100%;
                    padding-top: 60px;
                    z-index    : 1;

                    .image-icon-outter {
                        .image-icon {
                            height: 100%;
                            width : 100%;
                        }
                    }
                }
            }
        }

        .water-effect {
            height         : 140%;
            width          : 140%;
            background-size: contain;
            left           : -150px;
            top            : 80px;
        }

    }
}

// Phone
@media (max-width: 739px) {
    .hero-page-container {
        .grid {

            &.wide {
                width: 500px;
            }

            .main-hero-content {
                .hero-content-left {
                    width: 100%;

                    .logo {
                        margin-top: 15px;

                        .chau {
                            font-size: 5em;
                            right    : 250px;
                            bottom   : 230px;
                        }

                        .sadec {
                            font-size: 6em;
                            bottom   : 170px;
                            right    : 165px;
                        }

                        span {
                            width    : 16em;
                            font-size: 1.2em;
                            right    : 170px;
                            bottom   : 60px;
                        }

                        .btn-contact {
                            width : 12em;
                            bottom: -20px;
                            right : 200px;

                        }
                    }
                }

                .hero-content-right {
                    display: none;
                }

            }
        }

        .water-effect {
            height         : 140%;
            width          : 140%;
            background-size: contain;
            left           : -50px;
            top            : 150px;
        }
    }
}


//////// Header ////////

// PC low resolution
@media (min-width: 1024px) and (max-width: 1239px) {
    .home-header-container {
        .right-content {
            .contact-btn {
                width: 40%;
            }
        }
    }
}

// Tablet
@media (min-width: 740px) and (max-width: 1023px) {
    .home-header-container {
        .left-content {
            width: 20%;

            img {
                width: 100%;
            }
        }

        .content-center {
            width: 55%;
        }

        .right-content {
            .button {
                width: 45%;
            }
        }
    }
}

@media (max-width: 739px) {
    .home-header-container {
        .left-content {
            width: 50%;
        }

        .content-center {
            display: none;
        }

        .right-content {
            .button {
                width: 60%;
            }

            .change-language {
                display: flex;
            }
        }
    }
}