.slick-prev{
    left: -30px !important;
    z-index: 1000;
    height: 48px !important;
    width: 44px !important;
    background: rgba(40, 127, 185, 0.767) !important;
    border: 2px solid wheat !important;
    border-radius: 10px;
    margin-top: 10px;

    &:hover {
        background: rgba(11, 212, 152, 0.877) !important;
    }
}

.slick-prev:before{
    font-family: FontAwesome !important;
    color: rgb(255, 255, 255) !important;  
}

.slick-next{
    right: -20px !important;
    z-index: 1000;
    height: 48px !important;
    width: 44px !important;
    background: rgba(40, 127, 185, 0.767) !important;
    border: 2px solid wheat !important;
    border-radius: 10px;

    &:hover {
        background: rgba(11, 212, 152, 0.877) !important;
    }
}

.slick-next:before{
    font-family: FontAwesome !important;
    color: rgb(255, 255, 255) !important;
}

.section-share{
    &.section-specialty{
        background: rgb(210, 255, 238);
    }

    &.section-medical-facility{
        background: rgb(229, 254, 245);
    }

    &.section-oustanding-doctor{
        background: rgb(210, 255, 238);
    }

    &.section-hankbook{
        background: rgb(229, 254, 245);
    }
    
    &.section-about{
        background: rgb(210, 255, 238);
    }

    .section-body{
        .section-custome{
            .bg-image{
                border-radius: 10px !important;
                height: 200px;
                width: 320px;
                background-repeat: no-repeat !important;
                background-color: white;
                background-size: cover !important;
                background-position: center center !important;

                &.section-specialty1{
                    background-image: url("../../assets/specialty/specialty.jpg");
                }

                &.section-specialty2{
                    background-image: url("../../assets/specialty/specialty2.jpg");
                }

                &.section-specialty3{
                    background-image: url("../../assets/specialty/specialty3.jpg");
                }

                &.section-specialty4{
                    background-image: url("../../assets/specialty/specialty4.jpg");
                }

                &.section-specialty5{
                    background-image: url("../../assets/specialty/specialty5.jpg");
                }

                &.section-specialty6{
                    background-image: url("../../assets/specialty/specialty6.jpg");
                }

                &.section-medical1{
                    background-image: url("../../assets/medical-facility/medical1.jpg");
                }

                &.section-medical2{
                    background-image: url("../../assets/medical-facility/medical2.png");
                }

                &.section-medical3{
                    background-image: url("../../assets/medical-facility/medical3.png");
                }

                &.section-medical4{
                    background-image: url("../../assets/medical-facility/medical4.jpg");
                }

                &.section-medical5{
                    background-image: url("../../assets/medical-facility/medical5.jpg");
                }

                &.section-medical6{
                    background-image: url("../../assets/medical-facility/medical6.jpg");
                }

                &.section-doctor{
                    width: 120px;
                    height: 120px;
                    border-radius: 50% !important;
                }

                &.section-handbook1{
                    background-image: url('../../assets/handbook/handbook1.jpg');
                    width: 500px;
                    height: 300px;
                }

                &.section-handbook2{
                    background-image: url('../../assets/handbook/handbook2.jpg');
                    width: 400px;
                    height: 300px;
                }

                &.section-handbook3{
                    background-image: url('../../assets/handbook/handbook3.jpg');
                    width: 400px;
                    height: 300px;
                }

                &.section-handbook4{
                    background-image: url('../../assets/handbook/handbook4.jpg');
                    width: 400px;
                    height: 300px;
                }
            } 
        }
    }
}

.section-share{
    height: 350px;
    
    .section-container{
        margin: 0 100px;
        display: flex;
        flex-direction: column;
        .section-header{
            height: 60px;
            padding-top: 25px;
            margin-bottom: 30px;

            .title-section{
                font-size: 25px;
                font-weight: bold  ;
            }

            .btn-section{
                display: block;
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                background: linear-gradient(to right, #68e6e6, #04c1d2);
                border-radius: 15px;
                color: white;
                text-transform: uppercase;
                cursor: pointer;

                &:hover{
                    background: rgb(241, 160, 160);
                    color: black;
                }
            }
        }
        
    }
    
}

.section-hankbook{
    height: 450px;
    .section-custome{
        padding: 0 5px;
        .custome-border-handbook{
            display: flex !important;
            padding: 5px;
            .text-handbook{
                width: 450px;
                .text-title-handbook{
                    margin-left: 20px;
                    font-size: 20px;
                    font-weight: 600;
                    width: 95%;
                }

                .text-content-hanbook{
                    margin-top: 5px;
                    margin-left: 20px;
                    font-size: 16px;
                    width: 95%;
                    height: 10px;
                }
            }
        }
        

        
    }

}

.section-oustanding-doctor{

    .section-custome{
        padding: 5px;
        .cutome-border{
            border: 1px solid rgb(12, 137, 4);
            background-color: aliceblue;
            padding: 20px;
            border-radius: 5px;
            height: 220px;
            cursor: pointer; 

            .outter-bg{
                display: flex;
                justify-content: center;
                margin-bottom: 10px;           
            }
            
            .name-staff{
                max-width: 100%;
                margin-top: 15px;
                font-weight: 600;
                overflow: hidden !important;
                height: 20px;
            }

            &:hover {
                color: #0079c0;
                .bg-image.section-doctor {
                    width: 120px;
                    height: 120px;
                    box-shadow: 0 0 5px 2px #7c87be, 0 0 10px 5px #0991bf, 0 0 20px 10px #02ac5a;
                }
                
            }
        }
    }
}

.home-footer{
    padding-top: 15px;
    text-align: center;

    a{
        text-decoration: none;
    }
    
}

.section-about{
    height: 550px;
    padding: 0 100px;
    .section-about-header{
        padding: 20px 0;
        font-size: 25px;
        font-weight: bold;
    }

    .section-about-content{
        display: flex;
        gap: 15px;
        width: 100%;
        .content-left{
            width: 60%;
        }

        .content-right{
            width: 40%;
            font-size: 16px;
            font-style: italic;
            height: 460px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.slick-disabled{
    display: none !important;
}



