@keyframes floating {
    0% {
        transform: translateY(0);
        /* Vị trí ban đầu */
    }

    50% {
        transform: translateY(-10px);
        /* Di chuyển lên trên */
    }

    100% {
        transform: translateY(0);
        /* Trở về vị trí ban đầu */
    }
}

@keyframes pop-up {
    0% {
        transform: scaleX(0);
        opacity  : 0;
    }

    50% {
        transform: scaleX(1.5);
        opacity  : 1;
    }

    100% {
        transform: scaleX(1);
        opacity  : 1;
    }
}

@keyframes fallLeaves {
    0% {
        transform: translateY(-100px) rotate(0deg);
        opacity  : 1;
    }

    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity  : 0;
    }
}

.leaf {
    position                 : absolute;
    background-image         : url('../../assets/images/capybara.png');
    background-size          : contain;
    width                    : 30px;
    height                   : 30px;
    opacity                  : 0.8;
    animation                : fallLeaves 5s linear infinite;
    animation-timing-function: ease-in;
}

.falling-leaves {
    position      : absolute;
    top           : -35px;
    left          : 0;
    width         : 100%;
    height        : 100%;
    pointer-events: none;
    z-index       : 10;
    overflow      : hidden;

    .leaf:nth-child(1) {
        left              : 10%;
        animation-duration: 6s;
        animation-delay   : 2s;
    }

    .leaf:nth-child(2) {
        left              : 30%;
        animation-duration: 7s;
        animation-delay   : 1s;
    }

    .leaf:nth-child(3) {
        left              : 50%;
        animation-duration: 5s;
        animation-delay   : 3s;
    }

    .leaf:nth-child(4) {
        left              : 70%;
        animation-duration: 6.5s;
        animation-delay   : 0.5s;
    }

    .leaf:nth-child(5) {
        left              : 90%;
        animation-duration: 5s;
        animation-delay   : 4s;
    }

    .leaf:nth-child(6) {
        left              : 20%;
        animation-duration: 8s;
        animation-delay   : 2.5s;
    }

    // Thêm nhiều chiếc lá nếu muốn
}

.home-header-container {
    width          : 100%;
    height         : 80px;
    display        : flex;
    position       : fixed;
    z-index        : 3;
    top            : 0;
    left           : 0;
    backdrop-filter: blur(5px);

    .left-content {
        width          : 20%;
        display        : flex;
        justify-content: center;

        img {
            width     : 80%;
            transition: filter 0.2s ease, transform 0.2s ease;
            cursor    : pointer;

            &:hover {
                filter   : drop-shadow(0 0 15px #00ff00) drop-shadow(0 0 30px #00ff00);
                transform: scale(1.1);
            }
        }
    }

    .content-center {
        width          : 60%;
        display        : flex;
        justify-content: space-evenly;
        align-items    : center;

        .nav-item {
            flex-direction : column;
            justify-content: center;
            display        : flex;
            height         : 100%;
            gap            : 3px;

            .item-text {
                font-size       : 1.3em;
                font-weight     : 600;
                color           : #175a14;
                border          : none;
                outline         : none;
                background-color: transparent;

                &:hover {
                    transform: scale(1.1);
                    text-shadow:
                        0 0 5px rgba(0, 255, 128, 0.9),
                        /* Ánh sáng mờ xung quanh chữ */
                        0 0 10px rgba(0, 255, 128, 0.8),
                        0 0 15px rgba(0, 255, 128, 0.7),
                        0 0 20px rgba(0, 255, 128, 0.6),
                        0 0 30px rgba(0, 255, 128, 0.5),
                        /* Ánh sáng xa hơn, mờ dần */
                        0 0 40px rgba(0, 255, 128, 0.4),
                }
            }

            .item-line {
                width           : 30px;
                height          : 3px;
                background-color: #175a14;
                border-radius   : 15px;
                align-self      : center;
                animation       : pop-up 0.6s cubic-bezier(0.23, 1, 0.32, 1);
            }
        }


    }

    .right-content {
        flex           : 1;
        display        : flex;
        align-items    : center;
        justify-content: space-evenly;

        .contact-btn {
            text-align      : center;
            width           : 35%;
            padding         : 8px 16px;
            background-color: #0a7105;
            color           : white;
            border-radius   : 15px;
            font-size       : 1em;
            border          : none;
            outline         : none;
        }

        .change-language {
            .language-vi {
                margin : 0 10px;
                cursor : pointer;
                opacity: 0.5;

                &.active {
                    opacity    : 1;
                    font-weight: 600;
                    text-shadow:
                        0 0 5px rgba(0, 255, 128, 0.9),
                        /* Ánh sáng mờ xung quanh chữ */
                        0 0 10px rgba(0, 255, 128, 0.8),
                        0 0 15px rgba(0, 255, 128, 0.7),
                        0 0 20px rgba(0, 255, 128, 0.6),
                        0 0 30px rgba(0, 255, 128, 0.5),
                        /* Ánh sáng xa hơn, mờ dần */
                        0 0 40px rgba(0, 255, 128, 0.4),
                }

                &:hover {
                    opacity: 0.9;
                }
            }

            .language-en {
                margin : 0 10px;
                cursor : pointer;
                opacity: 0.5;

                &.active {
                    opacity    : 1;
                    font-weight: 600;
                    text-shadow:
                        0 0 5px rgba(0, 255, 128, 0.9),
                        /* Ánh sáng mờ xung quanh chữ */
                        0 0 10px rgba(0, 255, 128, 0.8),
                        0 0 15px rgba(0, 255, 128, 0.7),
                        0 0 20px rgba(0, 255, 128, 0.6),
                        0 0 30px rgba(0, 255, 128, 0.5),
                        /* Ánh sáng xa hơn, mờ dần */
                        0 0 40px rgba(0, 255, 128, 0.4),
                        0 0 50px rgba(0, 255, 128, 0.3);
                }

                &:hover {
                    opacity: 0.9;
                }
            }
        }


    }
}

.hero-page-container {
    height             : 100vh;
    background-image   : url('../../assets/heropage/background.png');
    background-size    : cover;
    position           : relative;
    overflow           : hidden;
    background-position: 10% 50%;

    .grid {
        width  : 100%;
        display: block;
        padding: 0;

        &.wide {
            height   : 100%;
            max-width: 1200px;
            margin   : 0 auto;
        }

        //row
        .main-hero-content {
            flex-wrap: wrap;
            height   : 100%;
            display  : flex;

            //col
            .hero-content-left {
                padding-left  : 12px;
                padding-right : 12px;
                height        : 100%;
                width         : 50%;
                z-index       : 2;
                display       : flex;
                flex-direction: column;
                gap           : 10px;

                .logo {
                    display    : flex;
                    margin-top : 60px;
                    width      : 100%;
                    height     : 60%;
                    font-family: "Calistoga", serif;
                    position   : relative;

                    .chau {
                        position           : absolute;
                        font-size          : 7em;
                        font-weight        : 400;
                        right              : 290px;
                        color              : #042502;
                        bottom             : 231px;
                        -webkit-text-stroke: 2px rgb(202, 255, 207);
                        text-shadow        : 6px 6px 10px rgba(114, 244, 88, 0.9);
                    }

                    .sadec {
                        position           : absolute;
                        font-size          : 8em;
                        font-weight        : 400;
                        bottom             : 155px;
                        right              : 180px;
                        color              : #86ae00;
                        font-weight        : 500;
                        -webkit-text-stroke: 2px rgb(255, 254, 188);
                        text-shadow        : 6px 6px 10px rgba(239, 247, 7, 0.9);
                    }

                    span {
                        position       : absolute;
                        width          : 20em;
                        font-size      : 1.3em;
                        text-align     : justify;
                        right          : 180px;
                        bottom         : 80px;
                        backdrop-filter: blur(10px);
                        font-family    : "Lexend", serif;
                    }

                    .btn-contact {
                        display         : flex;
                        position        : absolute;
                        width           : 15em;
                        height          : 2.8em;
                        font-size       : 18px;
                        justify-content : center;
                        align-items     : center;
                        background-color: #00ff00;
                        bottom          : 0;
                        border-radius   : 25px;
                        right           : 225px;
                        font-weight     : 600;
                        font-family     : "Lexend", serif;
                        box-shadow      : 0 8px #142566;
                        transition      : all 0.2s ease;
                        outline         : none;
                        border          : none;

                        &:hover {
                            box-shadow: 0 6px #142566;
                            transform : translateY(2px);
                        }

                        &:active {
                            box-shadow: 0 3px #142566;
                            transform : translateY(5px);
                        }
                    }
                }
            }

            .hero-content-right {
                height       : 100%;
                width        : 50%;
                z-index      : 2;
                padding-left : 12px;
                padding-right: 12px;
                padding-top  : 60px;

                .image-icon-outter {
                    height     : 100%;
                    width      : 100%;
                    perspective: 1000px;

                    .image-icon {
                        background-image : url('../../assets/heropage/tree.png');
                        height           : 100%;
                        width            : 100%;
                        background-repeat: no-repeat;
                        background-size  : contain;
                        transition       : transform 0.5s ease, box-shadow 0.3s ease;
                        animation        : floating 2s ease-in-out infinite;
                    }
                }
            }
        }
    }

    .fish-effect {
        position         : absolute;
        background-repeat: no-repeat;
        background-image : url('../../assets/heropage/fish.png');
        height           : 260px;
        width            : 200px;
        background-size  : contain;
        bottom           : 0;
        left             : 20px;
        transform        : rotate(50deg);
        z-index          : 2;
    }

    .water-effect {
        position         : absolute;
        background-repeat: no-repeat;
        background-image : url('../../assets/heropage/water.png');
        height           : 100%;
        width            : 1250px;
        background-size  : cover;
        top              : 260px;
        transform        : rotate(20deg);
    }

}

//////// Hero Page ////////

// PC low resolution
@media (min-width: 1024px) and (max-width: 1239px) {
    .hero-page-container {
        .grid {

            &.wide {
                width: 984px;
            }

            .main-hero-content {
                .hero-content-left {
                    .logo {
                        margin-top: 35px;
                        height    : 60%;

                        .chau {
                            font-size: 5em;
                            right    : 200px;
                            bottom   : 231px;
                        }

                        .sadec {
                            font-size: 6em;
                            bottom   : 155px;
                            right    : 110px;
                        }

                        span {
                            width    : 16em;
                            font-size: 1.2em;
                            right    : 110px;
                            bottom   : 50px;
                        }

                        .btn-contact {
                            width        : 10em;
                            bottom       : -20px;
                            border-radius: 25px;
                            right        : 160px;
                        }
                    }
                }
            }
        }

        .water-effect {
            height: 100%;
            width : 100%;
            top   : 50%;
        }

    }
}

// Tablet
@media (min-width: 740px) and (max-width: 1023px) {
    .hero-page-container {
        .grid {
            &.wide {
                width: 644px;
            }

            .main-hero-content {

                .hero-content-left {
                    width: 70%;

                    .logo {
                        margin-top: 15px;

                        .chau {
                            font-size: 7em;
                            right    : 110px;
                            bottom   : 231;
                        }

                        .sadec {
                            font-size  : 8em;
                            bottom     : 155px;
                            right      : 0;
                            font-weight: 600;
                        }

                        span {
                            width           : 18em;
                            font-size       : 1.2em;
                            right           : 55px;
                            bottom          : 45px;
                            background-color: rgba(255, 248, 236, 0.712);
                            border-radius   : 5px;
                            padding         : 5px;
                            box-sizing      : border-box;
                        }

                        .btn-contact {
                            width : 10em;
                            bottom: -20px;
                            right : 100px;

                        }
                    }
                }

                .hero-content-right {
                    position   : absolute;
                    height     : 100%;
                    width      : 100%;
                    padding-top: 60px;
                    z-index    : 1;

                    .image-icon-outter {
                        .image-icon {
                            height: 100%;
                            width : 100%;
                        }
                    }
                }
            }
        }

        .water-effect {
            height         : 100%;
            width          : 100%;
            background-size: cover;
            top            : 50%;
        }

    }
}

// Phone
@media (max-width: 739px) {
    .hero-page-container {
        .grid {

            &.wide {
                width: 500px;
            }

            .main-hero-content {
                .hero-content-left {
                    width: 100%;

                    .logo {
                        margin-top: 15px;

                        .chau {
                            font-size: 5em;
                            right    : 250px;
                            bottom   : 230px;
                        }

                        .sadec {
                            font-size: 6em;
                            bottom   : 170px;
                            right    : 165px;
                        }

                        span {
                            width    : 16em;
                            font-size: 1.2em;
                            right    : 170px;
                            bottom   : 60px;
                        }

                        .btn-contact {
                            width : 10em;
                            bottom: -20px;
                            right : 220px;

                        }
                    }
                }

            }
        }
    }
}


//////// Header ////////

// PC low resolution
@media (min-width: 1024px) and (max-width: 1239px) {
    .home-header-container {
        .right-content {
            .contact-btn {
                width: 40%;
            }
        }
    }
}

// Tablet
@media (min-width: 740px) and (max-width: 1023px) {
    .home-header-container {
        .left-content {
            width: 20%;

            img {
                width: 100%;
            }
        }

        .content-center {
            width: 55%;
        }

        .right-content {
            .contact-btn {
                width: 45%;
            }
        }
    }
}

@media (max-width: 739px) {
    .home-header-container {
        .left-content {
            width: 50%;
        }

        .content-center {
            display: none;
        }

        .right-content {
            .contact-btn {
                width: 50%;
            }

            .change-language {
                display: flex;
            }
        }
    }
}